@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html {
  scroll-behavior: smooth;
  font-family: 'Alegreya', serif;
}

@layer base {
  body {
    @apply bg-[#ecf0f3] text-[#371622] tracking-wide
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl font-[Alegreya]
  }

  h2 {
    @apply text-3xl sm:text-4xl
  }
  
  li {
    @apply cursor-pointer
  }

  button {
    @apply shadow-xl shadow-gray-400 rounded-xl uppercase bg-gradient-to-r from-[#c3688b] to-[#be83a6] text-white
  }
}